<app-error *ngIf="!isLoading && hasError"></app-error>
<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
<app-no-results *ngIf="!isLoading && fullTextItem.text_id === undefined  && !hasError"></app-no-results>
<div *ngIf="fullTextItem.text_id != undefined">
  <div class="row">
    <div class="col-md-4">
      Text ID: {{fullTextItem.text_id}}
    </div>
    <div class="col-md-4">
      Year: {{fullTextItem.year}}
    </div>
    <div class="col-md-4">
      Genre: {{fullTextItem.genre}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      Title: {{fullTextItem.title}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      {{fullTextItem.context}}
    </div>
  </div>
<div>
