<app-error *ngIf="!isLoading && hasError"></app-error>
<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
<app-no-results *ngIf="!isLoading && fullTextItem.text_id === undefined  && !hasError"></app-no-results>
<div *ngIf="fullTextItem.text_id != undefined">
  <div class="row">
    <div class="col-md-4">
      Text ID: <b>{{fullTextItem.text_id}}</b>
    </div>
    <div class="col-md-4">
      Year: <b>{{fullTextItem.year}}</b>
    </div>
    <div class="col-md-4">
      Genre: <b>{{fullTextItem.genre}}</b>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      Title: <b>{{fullTextItem.title}}</b>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <p id="text">{{fullTextItem.context}}</p>
    </div>
  </div>
<div>
